<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HN Instant</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-blu@0.1.9/dist/css/vue-blu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
  <script src="https://unpkg.com/vue-blu@0.1.9/dist/vue-blu.min.js"></script>
  <script></script>
</head>

<body>
  <section class="section">
    <div id="app">
      <div class="container content">
        <div class="columns">
          <div class="column is-narrow">
            <h2 class="title">
              HN Instant
            </h2>
          </div>
          <div class="column auto">
            <input type="text" class="input is-danger" v-model="query" placeholder="Search">
          </div>
          <div class="column is-2">
            <b-switch v-model="iframeMode" type="warning">iFrame Mode</b-switch>
          </div>
        </div>
      </div>
      <iframe style="height:80vh; width: 100%" v-if="iframeMode" v-bind:src="url" frameborder="0"></iframe>
    </div>
  </section>
  <script src="bower_components/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script>
    'use strict';
    var app = new Vue({
      el: '#app',
      data: {
        query: '',
        url: 'https://vuejs.org',
        iframeMode: false
      },
      watch: {
        query: function (val) {
          this.act()
        }
      },
      methods: {
        act: _.debounce(function () {
            if (this.query != null) {
              axios.get('http://hn.algolia.com/api/v1/search', {
                params: {
                  query: this.query
                }
              }).then(response => {
                let tUrl = response.data.hits[0].url
                if (this.iframeMode) {
                  this.url = tUrl
                } else {
                  window.location.href = tUrl
                }
              }).catch(err => {
                // do nothing
                console.log(err)
              })
            }
          },
          200)
      }
    });
  </script>
</body>

</html>